# exclude compiled binaries and external models
/bin

# exclude data from source control by default
/data/temp
/data/processed
/tests/data/*
/tests/tmp*
/tests/*pth
snakemake/lightning_logs

# Other
*.egg-info*
*.snakemake*
*__pycache__
/.stfolder/
*slurm-*.out*
/data/remote
/results/
/data/meta/biosample_mapping.log
/data/meta/ast_bioproject_titles.tsv
/data/meta/combined_sample_meta.tsv
/data/meta/ast_sub*
/data/meta/ncbi_all_anti*
/data/meta/genome_trakr_bsample.tsv
/snakemake/tmp.kmc_pre
/snakemake/tmp.kmc_suf
/data/meta/who_aware.tsv
/snakemake/wandb/
