# exclude compiled binaries and external models
/bin

# exclude data from source control by default
/data/temp
/data/processed
/data/raw
/tests/data/*

# Other
*.egg-info*
*.snakemake*
*__pycache__
/.stfolder/
/data/remote
/results/
/data/meta/biosample_mapping.log
